@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueCyr-Light.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Neue';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('../../fonts/HelveticaNeueCyr-Bold.woff') format('woff');
}
@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/HKGrotesk-SemiBold.woff2') format('woff2'),
    url('../../fonts/HKGrotesk-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/HKGrotesk-Bold.woff2') format('woff2'),
    url('../../fonts/HKGrotesk-Bold.woff') format('woff');
}
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/SFProDisplayMedium.woff2') format('woff2'),
    url('../../fonts/SFProDisplayMedium.woff') format('woff');
}
